.bckgrndnavy {
	background-color: #232531;
}

.bckgrndgrey {
	background-color: #f1f1f1;
}

.bckgrndwhite {
	background-color: white;
}

.bckgrndlightblue {
	background-color: #f4f9ff;
}

.fullheight {
	height: 100vh;
}

.centertext {
	text-align: center;
}

.topmargin15 {
	margin-top: 15%;
}

.font14 {
	font-size:14pt
}

.font20 {
	font-size:20pt
}

.font32 {
	font-size:32pt
}

.font190 {
	font-size: 190pt;
}

.colornavy {
	color: #232531;
}

.colorgrey {
	color: #f1f1f1;
}

.colordarkgrey {
	color: grey;
}

.colororange {
    color: orange;
}

.borderr {
	border: solid 2px yellow;
}

.pad20 {
	padding: 20px;
}

.topmargin90 {
	margin-top: 90px;
}

.width450 {
	width: 450px;
}


.nodecor {
	text-decoration: none;
}


/*Home Page*/

.vertical-menu {
    width: 60px;
    height: 100vh;
    position: fixed;
    top:0px;
    left: 0px;
}

.vertical-menu a {
    
    color: black;
    display: block;
    padding: 18px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;

}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.position-abs {
	position: absolute;
}

.top0 {
	top:0px;
}

.leftmargin50 {
	margin-left: 60px;
}

.leftpadding0 {
	padding-left: 0px;
}

.inline {
	display: inline;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.nobullet {
	list-style-type: none;
}

.orangebullet {
    list-style-type: 
}

#sublist a {
    padding: 0px 5px;
    text-decoration: none;        
}

#sublist a:link {
    color: grey;
}

#sublist a:visited {
    color: grey;
}

#sublist a:hover {
	border-bottom: 2px solid orange;
    color: black;
}

#sublist a:active {
	border-bottom: 2px solid orange;
    color: black;	
}

.width80 {
	width: 80%
}

.width20 {
	width: 20%
}

legend {
	color: darkorange !important;
}

input {
    width: 100%;
    -bottom:10px
}

.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 50%
}

er ul {list-style: none}

#activity  li::before {content: "•"; color: orange;
  display: inline-block; width: 1em;
  margin-left: -1em}
