.bckgrndnavy {
	background-color: #232531;
}

.bckgrndgrey {
	background-color: #f1f1f1;
}

.bckgrndwhite {
	background-color: white;
}

.fullheight {
	height: 100vh;
}

.centertext {
	text-align: center;
}

.topmargin15 {
	margin-top: 15%;
}

.font190 {
	font-size: 190pt;
}

.colornavy {
	color: #232531;
}

.colorgrey {
	color: #f1f1f1;
}

.colordarkgrey {
	color: grey;
}

.border {
	border: solid 1px black;
}

.pad20 {
	padding: 20px;
}

.topmargin90 {
	margin-top: 90px;
}

.width450 {
	width: 450px;
}

.font14 {
	font-size:14px
}

.nodecor {
	text-decoration: none;
}
































